<h2> Welcome to the club! </h2>

<p>
  Amazing adventure awaits <%= @name %>! The team at Mukhabook welcomes you to the most exclusive club in town. Here are some things you can do to get started!
</p>

<div>
  <ul>
    <li>Setup your profile</li>
    <li>Create your first post</li>
    <li>Add new friends</li>
    <li>Share it with other awesome people!</li>
  </ul>
</div>

<br/>

<div>
  - Mukhabook community
</div>