<div class="footer">
  <p>
    Made by jedtapiador@gmail.com. 
    Github: <a href="https://github.com/jedtap" target="_blank">github.com/jedtap</a>. 
    LinkedIn:<a href="https://www.linkedin.com/in/jed-tapiador" target="_blank">linkedin.com/in/jed-tapiador</a>.
  </p>
</div>